body{
    font-family: 'Poppins', sans-serif;
}

.header{
    display: flex;
    padding: 1.5rem;
    background-color: cornflowerblue;
    justify-content: center;
}

.header h1{
    font-size: 1.5rem;
}

.main{
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
}

.main__lado-esq{
    width: 25%;
    border: 1px solid red;
}

.main__lado-dir{
    width: 75%;
    border: 1px solid #ff0000;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    padding: 1rem;
}

.circle1, .circle2, .circle3, .circle4, .circle5, .circle6, .circle7, .circle8, .circle9,
.circle10, .circle11, .circle12, .circle13, .circle14, .circle15, .circle16, .circle17,
.circle18, .circle19, .circle20, .circle21, .circle22, .circle23, .circle24, .circle25,
.circle26, .circle27, .circle28, .circle29, .circle30, .circle31{
    background-color: lightgreen;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 1rem;
    line-height: 40px;
}

.circle1_checked{
    background-color: rgb(24, 241, 24);
}