body{
    font-family: 'Poppins', sans-serif;
}

.header{
    display: flex;
    padding: 1.5rem;
    background-color: cornflowerblue;
    justify-content: center;
}

.header h1{
    font-size: 1.5rem;
}

.habito1{
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 10px;
}

.lado-esq1{
    width: 25%;
    border: 1px solid red;
    padding: 1rem;
}

.lado-dir1{
    width: 75%;
    border: 1px solid #ff0000;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    padding: 1rem;
}

button{
    background-color: rgb(167, 240, 167);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    transition-duration: 0.4s;
    cursor: pointer;
    border: 1px solid green
}

button:hover, .button-clicked{
    background-color: rgb(42, 252, 42);
}